/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display: block;
}

body {
	line-height: 1;
}

ol,
ul {
	list-style: none;
}

blockquote,
q {
	quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

/** end reset css**/
body {
	max-width: 1140px;
	margin: auto;
	font-family: 'Work Sans';
	font-size: 14px;
}

header {
	display: flex;
	justify-content: space-between;
	margin: 50px 0
}

section {
	margin: 50px 0
}

h1 {
	display: flex;
	flex-direction: column;
	font-family: 'Syne';
	font-size: 22px;
	font-weight: 800;
	color: #B1663C
}

h1>span {
	font-family: 'Work Sans';
	font-size: 10px;
	letter-spacing: 0.1em;
	;
}

h2 {
	font-family: 'Syne';
	font-weight: 700;
	font-size: 30px;
	color: #1D6154
}

nav ul {
	display: flex;
	align-items: center;
	list-style-type: none;

}

nav li {
	padding: 0 10px;
	font-size: 1.2em;
}

li:hover {
	color: #B1663C;
}

#introduction {
	display: flex;
	align-items: center;
}

#introduction figure {
	flex: 1
}

#introduction img {
	display: block;
	margin: auto;
	width: 80%;
}

#introduction article {
	flex: 1
}

#introduction h2 {
	margin-bottom: 1em;
}

#introduction p {
	margin-bottom: 0.5em;
}

#portfolio h2 {
	text-align: center;
	margin-bottom: 1em;
}

.gallery {
	width: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-column-gap: 20px;
	grid-row-gap: 20px;
}

.gallery img {
	width: 100%;

}

#contact {
	width: 50%;
	margin: auto;
}

#contact>* {
	text-align: center;

}

#contact h2 {
	margin-bottom: 20px;
}

#contact form {
	text-align: left;
	margin-top: 30px;
	display: flex;
	flex-direction: column;
}

#contact input {
	height: 50px;
	font-size: 1.2em;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

#contact label {
	margin: 2em 0 1em 0;
}

#contact textarea {
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

input[type="submit"] {
	font-family: 'Syne';
	font-weight: 700;
	color: white;
	background-color: #1D6154;
	margin: 2em auto;
	width: 180px;
	text-align: center;
	border-radius: 60px;
}

footer nav ul {
	display: flex;
	justify-content: flex-end;
	margin: 2em
}

#filters {
	display: flex;
	gap: 10px;
	justify-content: center;
	margin-bottom: 30px;
}

.filter-button {
	padding: 8px 16px;
	border: 1px solid #1D6154;
	border-radius: 20px;
	background-color: white;
	color: #1b8a6b;
	cursor: pointer;
	font-weight: 700;
	font-size: 16px;
	color: #1D6154;
	font-family: Syne;
}

.filter-button:hover {
	background-color: #0E2F28;
	border: 1px solid #0E2F28;
	color: white
}

.filter-button:active {
	background-color: #1D6154;
	border: 1px solid #1D6154;
	color: white;
}

.filter-button.active {
	background-color: #1D6154;
	border: 1px solid #1D6154;
	color: white;
}

.login-container {
	justify-content: center;
	align-items: center;
	display: flex;
	flex-direction: column;
	margin: 180px
}

.login-title {
	justify-content: center;
	display: flex;
}

.login-form {
	display: flex;
	flex-direction: column;
	width: 50%;
}

.login-form {
	display: flex;
	flex-direction: column;
	gap: 10px;
	padding: 20px;
	background-color: white;
	border-radius: 10px;
	box-shadow: 0 4px 10px rgba(0, 0, 0, 0);
	width: auto;
	align-items: center;
	margin-top: 20px;
}

/* Champs et bouton */
.login-form input,
.login-form button {
	padding: 8px;
	border: 1px solid #ccc;
	border-radius: 5px;
	font-size: 14px;
}

.login-form input {
	border: none;
	outline: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
	font-size: 1.2em;
	width: 379px;
	height: 51px;
	padding-left: 0px;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
}

.login-form button {
	background-color: #1D6154;
	border-radius: 20px;
	color: white;
	border: none;
	cursor: pointer;
	width: 179px;
	font-family: 'Syne';
}

.login-form button:hover {
	background-color: #0E2F28;
}

.footer-login {
	display: flex;
	justify-content: end;
	margin-top: 330px;
}

.mention {
	text-decoration: none;
	color: black;
}

label {
	width: 100%;
}

.mdp-oublie {
	color: black;
}

.edit-mode-banner {
	height: 59px;
	background-color: black;
	color: white;
	display: flex;
	align-items: center;
	justify-content: center;
}

li a {
	color: black;
	text-decoration: none;
}

li a:hover {
	color: #B1663C;
}


h2 {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 20px;
}

.edit-button {
	border: none;
	font-size: 14px;
	font-weight: 400;
}

.modal {
	display: flex;
	align-items: center;
	justify-content: center;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.08);
}

.modal-wrapper {
	display: flex;
	flex-direction: column;
	align-items: center;
	overflow: auto;
	background-color: #FFF;
	height: 658px;
	width: 600px;
	max-width: calc(100vw - 20px);
	max-height: calc(100vh - 20px);
	padding: 30px;
	padding-bottom: 40px;
}

.modaltitle {
	font-family: Work Sans;
	font-size: 26px;
	font-weight: 400;
	color: black;
	padding: 20px;
	margin-bottom: 20px;
}

.close-modal2 {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	height: auto;
}

.close-modal1 {
	display: flex;
	justify-content: end;
	align-items: center;
	width: 100%;
	height: auto;
}

.close-modal1 button,
.close-modal2 button {
	background: none;
	border: none;
	cursor: pointer;
}

.modal-gallery {
	display: flex;
	flex-wrap: wrap;
	align-content: flex-start;
	gap: 20px;
	max-height: 380px;
	overflow-y: auto;
	margin: 30px 0;
	padding-left: 80px;
}

.modal-item {
	position: relative;
}

.modal-item img {
	width: 100%;
	height: 102px;
	object-fit: cover;
}

.delete-icon {
	position: absolute;
	top: 5px;
	right: 5px;
	background: black;
	color: white;
	border-radius: 2px;
	padding: 5px;
	font-size: 12px;
	cursor: pointer;
}

.modal2 {
	display: flex;
	align-items: center;
	justify-content: center;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.08);
}

.add-photo-btn {
	font-family: Syne;
	font-weight: 700;
	font-size: 14px;
	color: white;
	background-color: #1D6154;
	border: 1px solid #1D6154;
	border-radius: 30px;
	width: 237px;
	height: 36px;
}

.submit-btn.active {
    background-color: #1D6154;
    cursor: pointer;
}

.modal-form {
	height: 100%;
	width: 100%;
}

#add-work-form {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-left: 90px;
	padding-right: 90px;
}

.image-upload {
	background-color: #E8F1F6;
	height: 169px;
	width: 420px;
	margin-bottom: 30px;
}

.image-label {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	padding-top: 20px;
}

.fa-image {
	font-size: 75px;
	color: #CBD6DC;
}

.add-picture-button {
	display: flex;
	align-items: center;
	justify-content: center;
	font-family: Work Sans;
	color: #306685;
	font-weight: 500;
	font-size: 14px;
	background-color: #CBD6DC;
	height: 35px;
	width: 172px;
	border: 1px solid #CBD6DC;
	border-radius: 30px;
	margin-top: 5px;
	margin-bottom: 5px;
}

.image-label p {
	font-family: Work Sans;
	font-size: 10px;
	font-weight: 400;
}

.title,
.category {
	font-family: Work Sans;
}

#title,
#category {
	width: 100%;
	height: 51px;
	border: none;
	margin-top: 5px;
}

.submit-btn {
	display: flex;
	align-items: center;
	justify-content: center;
	font-family: Work Sans;
	color: white;
	font-weight: 500;
	font-size: 14px;
	background-color: #A7A7A7;
	height: 35px;
	width: 172px;
	border: 1px solid #A7A7A7;
	border-radius: 30px;
}

.modal-footer {
	margin-top: auto;
	padding-top: 20px;
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
}

.modal-footer hr {
	border: 1px solid #B3B3B3;
	width: 420px;
	margin-bottom: 40px;
}

.modal-footer2 {
	margin-top: 90px;
	padding-top: 20px;
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
}

.modal-footer2 hr {
	border: 1px solid #B3B3B3;
	width: 420px;
	margin-bottom: 40px;
}

.image-upload {
	background-color: #e8f1f6;
	height: 170px;
	display: flex;
	justify-content: center;
	align-items: center;
}

#image-preview {
	max-width: 100%;
	max-height: 100%;
	object-fit: cover;
}

.image-upload {
	background-color: #e8f1f6;
	height: 170px;
	border-radius: 3px;
	overflow: hidden;
	display: flex;
	justify-content: center;
	align-items: center;
}

.image-label {
	width: 100%;
	height: 100%;
	cursor: pointer;
	display: flex;
	justify-content: center;
	align-items: center;
}

#image-preview {
	max-width: 100%;
	max-height: 100%;
	object-fit: cover;
	display: none;
}

.upload-placeholder {
	text-align: center;
}

.image-upload.has-image .upload-placeholder {
	display: none;
}

.image-upload.has-image #image-preview {
	display: block;
}

#title{
	border: none;
    outline: none;
    box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
    font-size: 1.2em;
	height: 50px;
	margin-bottom: 20px;
}

#category{
	border: none;
    outline: none;
    box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
    font-size: 1.2em;
	height: 50px;
}